.base {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100dvh;
  > [class="inner"] {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    text-align: center;
    > h1 {
      text-align: center;
      font-size: 4rem;
      font-weight: 300;
    }
  }
}
